.art-museum {
  padding: 320px 0 0;

  @include onTablet {
    padding: 127px 0 107px;
  }

  @include onDesktop {
    padding: 127px 0 318px;
  }

  &__title {
    position: relative;
    display: block;
    z-index: 50;
    margin-bottom: 20px;
    font-family: $font-titel;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: $color-title;

    @include onTablet {
      text-align: left;
      font-size: 54px;
      line-height: 120%;
      margin-bottom: 38px;
    }

    @include onDesktop {
      font-size: 72px;
      line-height: 120%;
      margin-bottom: 89px;
    }
  }

  &__header {
    position: relative;
  }

  &__button {
    display: flex;
    text-decoration: none;
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 50px);
    height: 50px;
    margin-bottom: 70px;
    border: 1px solid $color-green;
    text-align: center;
    font-family: $font-text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: $color-black;
    text-transform: uppercase;
    transition: all 0.3s;


    &:hover {
      background-color: $color-green;
      color: $color-white;
    }

    @include onTablet {
      width: 220px;
      margin-bottom: 0;
      height: 70px;
      line-height: 70px;
    }
  }

  &__buttons-wrap {
    position: relative;
  }

  &__link-button {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid $color-green;
    background: $color-green;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/title/arrow.svg");
    height: 50px;
    width: 17.85%;

    @include onTablet {
      height: 70px;
      width: 70px;
    }
  }


  &__events-wrap {
    position: absolute;
    left: -215px;
    bottom: -15px;
    display: none;
    transform: rotate(270deg);
    transition: all 0.3s;



    @include onDesktop {
      display: block;
    }
  }

  &__events-click {
    position: relative;
    font-family: $font-text;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: $color-event;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;

    &::before {
      display: block;
      position: absolute;
      top: 50%;
      right: 50px;
      content: "";
      width: 70px;
      height: 1px;
      background-color: $color-event;
      transition: all 0.3s;
    }
  }
}
