$color-title: #000;
$color-black: #0f0e08;
$color-green: #1a5a4c;
$color-white: #fff;
$color-event: #687480;
$color-input-focus: #a14a27;
$color-gray: #4e4e4e;

$font-titel: "Montserrat", sans-serif;
$font-text: "IBM Plex Sans", sans-serif;
